<div class="container">
  <div *ngIf="chambre" class="card">
    <div class="card-body">
      <h5 class="card-title">Informations de la Chambre</h5>
      <div class="row">
        <!-- <div class="col-md-6">
          <p class="card-text"><strong>ID de la Chambre:</strong> {{ chambre.idChambre }}</p>
        </div> -->
        <div class="col-md-6">
          <p class="card-text"><strong>Numéro de Chambre:</strong> {{ chambre.numeroChambre }}</p>
        </div>
        <div class="col-md-6">
          <p class="card-text"><strong>Type de Chambre:</strong> {{ chambre.typeC }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
