<p>update-question works!</p>

<div class="container">
  <h2>Modifier une reponse</h2>
  <form (ngSubmit)="update()">
    <div class="form-group">
      <label for="descriptionQuestion">description</label>
      <input type="text" id="descriptionQuestion" name="descriptionQuestion" [(ngModel)]="question.descriptionQuestion"  class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Modifier</button>

  </form>
</div>
<button class="btn btn-secondary"  routerLink="/lazy/question">Retour à la liste des questions</button>


