
<form [formGroup]="addRes" (ngSubmit)="onSubmit()" class="form-container">

  <div class="mb-3">
    <label for="dateInput" class="form-label">Année Universitaire:</label>
    <input type="date" id="dateInput" formControlName="anneeUniversite" class="form-control">
    <div *ngIf="addRes.get('anneeUniversite')?.hasError('required') && addRes.get('anneeUniversite')?.touched" class="error-message">
      L'année universitaire est requise.
    </div>
    <div *ngIf="addRes.get('anneeUniversite')?.hasError('invalidYear') && addRes.get('anneeUniversite')?.touched" class="error-message">
      L'année universitaire ne peut pas être antérieure à l'année courante.
    </div>
  </div>

  <div class="form-check">
    <input type="radio" id="trueValue" formControlName="estValide" [value]="false" class="form-check-input" [checked]="addRes.controls['estValide'].value === false" (change)="addRes.controls['estValide'].setValue(false)">
    <label class="form-check-label" for="trueValue">Non</label>
  </div>
  <div class="form-check">
    <input type="radio" id="falseValue" formControlName="estValide" [value]="true" class="form-check-input" [checked]="addRes.controls['estValide'].value === true" (change)="addRes.controls['estValide'].setValue(true)">
    <label class="form-check-label" for="falseValue">Oui</label>
  </div>

  <button type="submit" class="btn btn-primary">Ajouter la réservation</button>

</form>
