<button class="btn btn-danger btn-sm action-button" (click)="addChambre()">
  Ajouter chambre
</button>
<div class="input-group mt-2">
  <div class="input-group-prepend">
    <span class="input-group-text">
      <i class="material-icons">search</i>
    </span>
  </div>
  <input [(ngModel)]="searchTerm" placeholder="Rechercher réservations"
    class="form-control">
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Numéro de Chambre</th>
      <th>Type de Chambre</th>
      <th>idBloc</th>

      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ch of filteredChambres">
      <td>{{ ch.idChambre }}</td>
      <td>{{ ch.numeroChambre }}</td>
      <td>
        {{ch.typeC}}
      </td>
      <td>{{ch.bloc.idBloc }}</td>

      <td>
        <button class="btn btn-primary btn-sm action-button"
          (click)="showDetails(ch.idChambre)">
          <i class="fas fa-info-circle"></i> Détails
        </button>
        <button class="btn btn-warning btn-sm action-button"
          (click)="editCh(ch.idChambre)">
          <i class="fas fa-edit"></i> Modifier
        </button>
        <button class="btn btn-danger btn-sm action-button"
          (click)="deleteChambre(ch)">
          <i class="fas fa-trash-alt"></i> Supprimer
        </button>
      </td>
    </tr>
  </tbody>
</table>
