
<div class="container">
  <h2>Ajouter un evenement</h2>
  <form [formGroup]="addEvenementForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="titre">titre</label>
      <input type="text" id="titre" formControlName="titre" class="form-control">
    </div>
    <div class="form-group">
      <label for="description">description</label>
      <input type="text" id="description" formControlName="description" class="form-control">
    </div>
    <div class="form-group">
      <label for="dateDebut">dateDebut</label>
      <input type="date" id="dateDebut" formControlName="dateDebut" class="form-control">
    </div>
    <div class="form-group">
      <label for="dateFin">dateFin</label>
      <input type="date" id="dateFin" formControlName="dateFin" class="form-control">
    </div>
    <div class="form-group">
      <label for="placeDisponible">place Disponible</label>
      <input type="number" id="placeDisponible" formControlName="placeDisponible" class="form-control">
    </div>




    <button type="submit" class="btn btn-primary">Ajouter</button>
<br>
    <button class="btn btn-secondary" routerLink="dashboard/lazy/evenement/addEvenement"> List Evenement</button>
  </form>
</div>
